@{
    ViewData["Title"] = "About Us // WSAD 2021";
}

<div class="text-center">
    <h1 class="display-4">Who are we?</h1>
    <p>We are a team of students who share an interest in cooking nice,<br> delicious recipes and we want to share them with you. </p>
    <p>Below is a list of our team members:</p>
    <p>Max Graman</p>
    <p>Gabriel Levit</p>
    <p>Natape Forbes</p>
    <p>Ryan Smith</p>
    <p>Brandon Nguyen</p>
    
    
</div>