@{
    ViewData["Title"] = "About Us // WSAD 2021";
}

<div class="text-center">
    <h1 class="display-4">Who are we?</h1>
    <p>Abunch of students looking to complete a project for a class.</a>.</p>
</div>