@{
    ViewData["Title"] = "About Cooking // WSAD 2021";
}

<div class="text-center">
    <h1 class="display-4">Brief History of Cooking</h1>
    <p>Cooking may very well have began nearly 3 million years ago by our human ancestors,
    with modern humans as late as 500,000 years ago when they conquered fire.  Ever since, humans have advanced
    the practice into a skilled art form.</p>
    <br>
    <p><img src="https://funvizeo.com/media/images/bpvkETj4vAXPl3hJwpkupdZpXWnTLtjOtksVAdFa1F_U,C1.jpg" style="width:300px;height:400px;" /></p>
</div>
<div class="text-center">
    <p>As society advanced and progressed, so did food and what we did with it.  As humans set out to explore, they brought food to new lands
    and to new people.  In fact, once the "New World" was discovered, many new types of food were as well, such as maize, pumpkin, peanuts
    and chocolate opening up whole new food possibilities.</p>
    <img src="https://memeguy.com/photos/images/chocolate-is-a-salad-257351.jpg" style="width:300px;height:400px;"/>
</div>
<div class="text-center">
    <p>Beginnging with the industrial revolution, we saw the mass production and processing of food which made it standardized in terms
    of packing, canning and delivering making it more widely available in many more households around the world.</p>
    <img src="https://upload.wikimedia.org/wikipedia/commons/1/13/Supermarkt.jpg" style="width:300px;height:400px;" />
</div>

<footer>
    Source: <cite><a href="https://en.wikipedia.org/wiki/Cooking">Wikipedia</a></cite>
</footer>