@{
    ViewData["Title"] = "Cooking Tools // WSAD 2021";
}

<div class="text-center">
    <h1 class="display-4">Useful tools for cooking</h1>
    <div class="text-left offset-md-2">
        <p>
            <strong>Chef's Knife:</strong> In cooking, a chef's knife, also known as a cook's knife, is a cutting tool used in food preparation.<br />
            The chef's knife was originally designed primarily to slice and disjoint large cuts of beef. <br />
            Today it is the primary general-utility knife for most western cooks.
        </p>
        <p><strong>Frying pan:</strong> A frying pan, frypan, or skillet is a flat-bottomed pan used for frying, searing, and browning foods.</p>
        <p><strong>Tongs:</strong> Tongs are a type of tool used to grip and lift objects instead of holding them directly with hands. </p>
        <p>
            <strong>Cutting boards:</strong> A cutting board (or chopping board) is a durable board on which to place material for cutting. <br />
            The kitchen cutting board is commonly used in preparing food; other types exist for cutting raw materials such as leather or plastic. <br />
            Kitchen cutting boards are often made of wood or plastic and come in various widths and sizes.
        </p>
        <p>
            <strong>Spatula:</strong> Spatula refers broadly to a number of broad, flat utensils. The word commonly refers to a turner or flipper <br />
            (known in British English as a fish slice), used to lift and flip food items during cooking, such as pancakes and fillets.
        </p>
    </div>
</div>