@{
    ViewData["Title"] = "Cooking Tools // WSAD 2021";
}

<div class="text-center">
    <h1 class="display-4">Useful tools for cooking</h1>
    <p>Have a nice list here of things like knifes.</p>
</div>