@{
    ViewData["Title"] = "Cooking Recipes // WSAD 2021";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our Recipe Repository</h1>
    <img src="~/images/DSC05854.JPG" class="img-fluid center-block" />
</div>
