@{
    ViewData["Title"] = "Recipes // WSAD 2021";
}

<div class="text-center">
    <h1 class="display-4">Recipe List</h1>
    <p>use an HTML table to pull stuff from a database to list here</a>.</p>
</div>